<div class="section1">
	<mat-toolbar id="header">
	</mat-toolbar>
	<div class="container">
		<div class="ovInfo">
			<img class="ovLogo" alt="OpenVidu Logo" height="150px" width="150px" src="assets/images/openvidu_logo.png" />
		</div>
		<div class="formContainer">
			<div class="roomError" id="requiredNameError" *ngIf="roomForm.hasError('required')">
				Room name is <strong>required</strong>
			</div>
			<div class="roomError" id="shortNameError" *ngIf="roomForm.hasError('minlength')">
				Room name is <strong>too short!</strong>
			</div>
			<form [formGroup]="roomForm" novalidate (ngSubmit)="goToVideoCall()">
				<div class="joinForm">
					<input matInput class="inputForm" type="text" [formControl]="roomForm"  autocomplete="off" id="roomInput" />
				</div>
				<button type="submit" style="51.5%; border-radius:4px; border: none; color: white; padding: 20px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px;" id="joinButton" >Join meeting</button>
			</form>
		</div>
	</div>


	<mat-toolbar class="footer">
		
	</mat-toolbar>
</div>
